LOG_LEVEL=DEBUG
QUEUE_USER=guest
QUEUE_PW=guest
QUEUE_HOST=127.0.0.1
STRIDER_URL=https://strider-dev.apps.renci.org/1.3/
NODENORM_URL=https://nodenormalization-sri.renci.org/1.3/
ROBOKOPKG_URL=https://automat.renci.org/robokopkg/1.3/
ANSWER_COALESCE_URL=https://answercoalesce.renci.org/1.3/coalesce/
RANKER_URL=https://aragorn-ranker.renci.org/1.3/
